.ReactModal {
    &__Overlay {
    opacity: 0;
    perspective: 4000px;
    
    &--after-open{
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }
    
    &--before-close{
      opacity: 0;
      transition: opacity .2s ease-in-out .2s;
    }
  }

  &__Content {
    opacity: 0;
    transform-origin: right;
    transform: translateX(-300px) rotateY(30deg);
    transition: opacity .4s,
                transform .4s cubic-bezier(0.22, 0.61, 0.36, 1);

    &--after-open{
      opacity: 1;
      transform: translateX(0) rotateY(0);
    }
    
    &--before-close{
      opacity: 0;
      transform: translateX(200px);
    }
  }
}